*{
    box-sizing: border-box;
}
body{
    font-family: 'Bruno Ace SC', cursive;
    line-height: 1.5;
}
a{
    display: block;
    text-decoration: none;
}
img{
    display: block;
    height: auto;;
}